analysis
Bio
biopython
captum
dask
imbalanced_learn
imblearn
matplotlib
networkx
numpy
pandas
plotly
pyyaml
scikit_learn
scipy
screed
seaborn
shap
sourmash==4.9.4
sourmash_plugin_betterplot==0.5.9
tensorflow
torch==2.10.0
torchmetrics==1.8.2
torchvision==0.25.0
tqdm
xxhash